
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(PublicLayout)">
                <ContentWrapper>
                    <Header>
                        <h1 class="text-center">Lo siento, no hay nada en esta dirección.</h1>
                    </Header>
                </ContentWrapper>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
