<AuthorizeView>
    <Authorized>
        <li class="nav-item nav-tabs-right">
            <a href="App" class="nav-link d-inline-block">Administrar</a>
        </li>

        <li class="nav-item">
            <form method="post" action="Identity/Account/LogOut">
                <button type="submit" class="nav-link btn btn-link">Salir</button>
            </form>
        </li>
    </Authorized>
    <NotAuthorized>
        <li class="nav-item">
            <a href="Identity/Account/Register" class="nav-link d-inline-block">Registrarse</a>
        </li>
        <li class="nav-item">
            <a href="Identity/Account/Login" class="nav-link d-inline-block">Entrar</a>
        </li>
    </NotAuthorized>
</AuthorizeView>

@code{

}

