@page "/counter"
@attribute [Authorize]

<!-- Main content -->
<section class="content p-0 p-md-2">
    <div class="container-fluid p-0 p-md-2">
        <Counter></Counter>             
    </div>
</section>
<!-- /.content -->

