<div class="row">
    <div class="col-sm-12 text-center bg-white mb-2" 
        style="border:1px solid #ddd;box-shadow: 2px 4px 10px #d7e2e2;margin-top:0px;padding:30px;">
        
        @if (Header != null)
        {
            <h3>
                @Header
            </h3>    
        }
        
        @if (Content != null)
        {
            <div>
                @Content
            </div>    
        }
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment Header { get; set; }
    
    [Parameter]
    public RenderFragment Content { get; set; }

}
