<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/Home" class="brand-link text-center bg-primary">
        @*<img src="~/Imagenes/logo"
                alt="Lucari"
                class="brand-image elevation-3"
                style="opacity: .8" />
        <img />*@
        <i class="far">NombreProv</i>
        @*<span class="brand-text font-weight-light"> Lucari</span>*@
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <NavMenu />
    </div>
    <!-- /.sidebar -->
</aside>
