@inherits LayoutComponentBase

<!-- Site wrapper -->
<div class="wrapper">
    <TopNavBar/>
    
    <MainSideBar/>
    
    <div class="content-wrapper">
        @Body
    </div>
        
    <Footer/>
</div>
<!-- ./wrapper -->


@code{
    [Inject]
    IJSRuntime JSRuntime { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        
        //Cambiamos la clase del Body para alternar entre estilo web y app
        await JSRuntime.InvokeVoidAsync("MyInterop.ChangeTheme", "sidebar-mini");
    }
}