@page "/nosotros"

<ContentWrapper>
    <Content>
        <CardWithBorders ClassHeader="text-center text-bold">
            <Header>
                Mision y Vision
            </Header>
        </CardWithBorders>

        <CardWithBorders>
            <Content>
                <div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat dignissim diam, sed gravida sapien porttitor eget. Nam nec consectetur erat, at semper erat. Nam varius nulla metus, eu lacinia sem consectetur sit amet. Vestibulum commodo placerat justo non pretium. Aenean sit amet lacus id libero commodo dignissim ut non felis. Proin ac bibendum nunc. Quisque in nisl pharetra, tincidunt massa sed, consectetur enim. Curabitur ante velit, accumsan vel mi at, luctus accumsan massa. Maecenas ullamcorper velit sit amet velit dapibus, ac mattis sapien feugiat. Quisque lorem turpis, lobortis et libero quis, commodo finibus tellus. Curabitur venenatis luctus ex, sit amet tincidunt velit tincidunt non. Morbi congue ut dolor et sollicitudin. Pellentesque fringilla ante in nisl rutrum, eu feugiat arcu pharetra. Etiam egestas interdum lacinia.
                    </p>
                    <p>
                        Pellentesque dignissim nisl nec nibh sagittis sagittis. Aliquam imperdiet nisi non feugiat tempor. Aliquam laoreet vitae dolor sed hendrerit. Mauris eu velit orci. Mauris ut condimentum nisl, eu faucibus purus. Nulla a blandit est, eget efficitur augue. Duis ipsum sem, ultrices eget quam nec, semper finibus ex. Nam a ex augue. Pellentesque lorem massa, sollicitudin vitae massa eu, auctor efficitur arcu. Fusce convallis consequat nisi eu pellentesque. Ut tempus blandit dui at ultricies. Nunc lobortis vulputate posuere. Curabitur ullamcorper iaculis erat.
                    </p>
                    <p>
                        Curabitur sollicitudin nulla sed velit facilisis semper. Suspendisse potenti. Integer ut ligula felis. Fusce neque odio, tristique finibus egestas nec, venenatis a erat. Suspendisse lacinia cursus odio malesuada lacinia. Aenean at lobortis purus. Nunc lacinia elementum odio, ullamcorper accumsan ex maximus eu. Quisque vehicula, ante a placerat fringilla, eros odio iaculis leo, ut placerat elit est sit amet ante. Fusce eu massa ante. Nulla faucibus molestie imperdiet. Curabitur diam nisi, iaculis et scelerisque id, egestas vel quam. Phasellus vitae tristique ipsum, non iaculis quam. Suspendisse potenti. Integer et semper purus. Sed eu libero lorem.
                    </p>
                    <p>
                        Morbi hendrerit augue dui, laoreet sollicitudin dui congue quis. Vivamus lacinia blandit nibh, in rhoncus sapien dictum vitae. Sed a elit quis est elementum rhoncus. Quisque pretium est sollicitudin orci luctus tristique. Sed id condimentum nisl, at posuere nulla. Nam id libero in diam viverra ultricies in eu massa. In nec lacus pharetra, tincidunt sapien quis, rhoncus nunc. Proin leo quam, lacinia quis congue sed, tincidunt nec nisi.
                    </p>
                    <p>
                        Duis tempor, nibh vitae ultricies porta, elit risus accumsan nulla, non gravida sapien lacus in urna. Etiam eu turpis interdum, dapibus odio at, auctor nisl. Duis congue elementum varius. Nulla convallis, ante vitae molestie molestie, ex mi dapibus ipsum, vitae faucibus magna justo dictum neque. Curabitur elementum lectus a turpis volutpat aliquet. Nam at elit vitae tortor eleifend finibus eu ac risus. Maecenas nisi diam, pharetra vel est malesuada, gravida ultricies lectus.
                    </p>

                    <p>
                        Generados 5 párrafos, 440 palabras, 2979 bytes de Lorem Ipsum
                    </p>    
                </div>
            </Content>
        </CardWithBorders>
    </Content>
</ContentWrapper>

@code {

}