@page "/contacto"

<ContentWrapper>
    <Content>
        <CardWithBorders>
            <Header>
                Contacto
            </Header>
        </CardWithBorders>

        <CardWithBorders>
            <Content>
                <p>Ponte en contacto con nosotros</p>
            </Content>
        </CardWithBorders>
    </Content>
</ContentWrapper>

@code {

}
