@page "/"

<ContentWrapper>
    <Header>
        <Slider Images=@SliderImages></Slider>
        <hr />
        <Banner ImageBanner="img/img1.jpg"></Banner>
    </Header>
    <Content>
        <Borderer>
            <PostResume Class="col-12 col-md-4 text-center" ImageSorce="AdminLTELogo.png" Title="Post Uno" 
                Resume="Mi primer post"/>
            
            <PostResume Class="col-12 col-md-4 text-center" ImageSorce="AdminLTELogo.png" Title="Post Uno" 
                Resume="Otro resumen mas"/>
            
            <PostResume Class="col-12 col-md-4 text-center" ImageSorce="AdminLTELogo.png" Title="Post Uno" 
                Resume="Para que quede bonito"/>
        </Borderer>
        <SurveyPrompt Title="How is Blazor working for you?" />

        <div class="row">
            <InfoBox IconClass="fa fa-shopping-cart">
                <span>Hola</span>
                <span><b>Mundo</b></span>
            </InfoBox>
            <InfoBox IconClass="fa fa-shopping-bag">
                <span>Hola</span>
                <span><b>Mundo</b></span>
            </InfoBox>
            <InfoBox IconClass="fa fa-trophy">
                <span>Hola</span>
                <span><b>Mundo</b></span>
            </InfoBox>
            <InfoBox IconClass="fa fa-heart">
                <span>Hola</span>
                <span><b>Mundo</b></span>
            </InfoBox>
        </div>
        
    </Content>
</ContentWrapper>

@code {
    private string[] SliderImages = new string[] { "img/img1.jpg", "img/img2.jpg" };
}
