@page "/account/register"

<div class="register-box ml-2" style="width: 97%;">
    <div class="register-logo">
        <a href=""><b>Admin</b> LTE</a>
    </div>

    <div class="card">
        <div class="card-body register-card-body ">
            <p class="login-box-msg">Crear una nueva cuenta</p>

            <form action="~/Account/Register" method="post" autocomplete="off">
                <div class="row row-cols-1">
                    <div class="form-group mb-3 col" hidden>
                        <div class="input-group">
                            <input id="UserName" type="email" class="form-control" placeholder="Usuario">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-user"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group mb-3 col">
                        <div class="input-group">
                            <input id="Email" type="email" class="form-control" placeholder="Email">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row row-cols-1 row-cols-sm-2">
                    <div class="form-group mb-3 col">
                        <div class="input-group">
                            <input id="Password" type="Password" class="form-control" placeholder="Contraseña">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group mb-3 col">
                        <div class="input-group">
                            <input id="PasswordRepeat" type="Password" class="form-control" placeholder="Reperir Contraseña">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </div>
            </form>

            <a href="Account/Login" class="text-center">Si ya posee una cuenta inicie sesión</a>
        </div>
        <!-- /.form-box -->
    </div><!-- /.card -->
</div>